{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Text Formatting {% endblock title %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'main.css' %}">
{% endblock stylesheets %}

{% block content %}
<h1 class="format-title">Example of Formatting tags</h1>

<p>This text has <b>subtext </b>bold text</p>
<p>This text has <strong>subtext </strong>strong text</p>
<p>This text has <i>subtext </i>italic text</p>
<p>This text has <em>subtext </em>emphasized text</p>
<p>This text has <mark>subtext </mark>mark text</p>
<p>This text has <small>subtext </small>small text</p>
<p>This text has <del>subtext </del>deleted text</p>
<p>This text has <ins>subtext </ins>inserted text</p>
<p>This text has <sub>subtext </sub>subscript text</p>
<p>This text has <sup>subtext </sup>superscript text</p>

{% endblock content %}